# Configuración de la Base de Datos
DB_HOST=localhost
DB_NAME=db_hotel_flow
DB_USER=root
DB_PASS=
DB_CHARSET=utf8mb4

# Configuración de la Aplicación
APP_NAME="HotelFlow"
APP_URL=http://localhost/HotelFlow/
TIMEZONE=America/La_Paz
DEBUG=true
